body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

main {
    padding: 20px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book img {
    max-width: 100%;
    height: auto;
}

.book-title {
    font-size: 1.5em;
    margin: 10px 0;
}

.book-author {
    font-weight: bold;
}

.book-price {
    color: green;
    font-size: 1.2em;
}

input#search {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

input#search:focus {
    border-color: #35424a;
}